* {
    margin: 0;
}


htmL,
body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    background: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.33);
    overflow: visible;
}

#pick-color {
    height: 42px;
    width: 61px;
}


#scheme-btn, #scheme-type {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background: none;
    padding: 1rem;
    height: 3rem;
}

#scheme-btn {
    font-size: .7em;
    padding: 0 .75rem;
}

#scheme-type {
    font-family: 'Inter', sans-serif;
    line-height: 17px !important;
    overflow: visible;
    width: 15rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    background-position: right 0.75rem center;
    padding: 0 1rem;
}

.color-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
}

.pair {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.color-div {
    flex: 1;
    box-shadow: 0 2px 4px #00000033;
}

.color-hex {
    color: #2b283a;
    font-size: .9em;
    margin-top: 0.5rem;
    text-align: center;
    padding: 1.5rem;
}