*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    overflow: visible;
}

nav>* {
    flex: 1 1 auto;
    min-width: 0;
}

.color-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    box-sizing: border-box;
}

.base-color-div,
.color-number-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
}

#pick-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 42px;
    min-width: 61px;
    max-width: 100%;
    padding: 0;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    margin: 0;
    transition: all 0.3s ease;
}

#pick-color:hover {
    border-color: black;
}

#pick-color::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 5px;
}

#pick-color::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

#color-number {
    width: 4rem;
    padding: 0.5rem;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    height: 42px;
    max-width: 100%;
    flex-shrink: 1;
    transition: all 0.3s ease;
}

#color-number:focus {
    outline: none;
    border-color: black;
}

#color-number:hover {
    outline: none;
    border-color: black;
}

#scheme-btn,
#scheme-type {
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    background: none;
    padding: 1rem;
    height: 3rem;
    max-width: 100%;
    flex-shrink: 1;
    transition: all 0.3s ease;
}

#scheme-btn:hover,
#scheme-type:hover {
    border-color: black;
    transition: all .3s ease;
}

.color-submit-div {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#scheme-btn {
    font-size: .8em;
    padding: 0 .75rem;
}

#scheme-type {
    font-family: 'Inter', sans-serif;
    line-height: 17px !important;
    overflow: visible;
    width: 15rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
    background-position: right 0.75rem center;
    padding: 0 1rem;
}

#color-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    flex: 1;
    min-height: 0;
}

.pair {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.color-div {
    flex: 1;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px #00000033;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.5s ease;
}

.color-div.show {
    opacity: 1;
    transform: scale(1);
}

.color-div:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.005);
    transition: all 0.2s ease;
}

.color-hex {
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 0.25rem;
    font-size: .90rem;
}

#copy-csv-btn {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 0.75rem;
    display: block;
    font-size: 1rem;
    border-top: 1px solid #D1D5DB;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#copy-csv-btn:hover {
    background: #f0f0f0;
    border-color: black;
}

.copy-tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}